<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.variflight.mapper.THealthReportMaleMapper">
  <resultMap id="BaseResultMap" type="com.variflight.entity.THealthReportMale">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="check_project" jdbcType="VARCHAR" property="checkProject" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, check_project, detail, user_id
  </sql>
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from t_health_report_male
      where user_id = #{userID,jdbcType=INTEGER}
  </select>
</mapper>